<div class="recipe_display"> 
  <%= render @recipe %>
  <div class="btn_recipe">
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "actions" %> |
    <%= link_to "Back to recipes", recipes_path, class: "actions" %>
    <%= button_to "Destroy this recipe", @recipe, method: :delete, class: "delete" %>
  </div>

    <tbody>

        <% RecipeFood.includes([:food]).where(recipe_id: @recipe.id).each do |recipe_food| %>
          <tr>
          <td><%= Food.find_by(id: recipe_food.food_id).name %></td>
          <td> <%= recipe_food.quantity %> </td>
          <td> $ <%= recipe_food.quantity.to_i * recipe_food.food.price %> </td>
          <td>
          <%= button_to "Modify", recipe_food, method: :edit, data: { confirm: "Are you sure?" } %>
          <%= button_to "Remove", recipe_food, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
          </tr>
        <% end %>

    </tbody>
  </table>
  <div class="add_recipe_form">
  <%= form_with(model: @recipe_food) do |form| %>
    <% if @recipe_food.errors.any? %>
      <div style="color: red">
          <h2><%= pluralize(@recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

          <ul>
            <% @recipe_food.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <% end %>

  <div class="shopping_container" id="pop-up">
      <%=form_with url: general_shopping_list_index_path, method: :get do |f| %>
        <div>
          <%= f.hidden_field :recipe_id, value: @recipe.id, required: true %>
        </div>
      <% end %>
  </div>
  </div>
</div>




